<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>학생 점수 관리 시스템</title>
    <script src="/day58/student.js"></script>
    <script>
      list();
    </script>
  </head>
  <body>
    <div th:replace="~{/day58/student/header.html::header}"></div>
    <div>
      <h3>학생 명단</h3>
      <table border="1" id="student_table"></table>
    </div>
    <div th:replace="~{/day58/student/footer.html::footer}"></div>
  </body>
</html>
