#wrap {
  background-color: gainsboro;
  width: 700px;
  padding: 20px;
}
.title {
}
.todoTop {
  height: 50px;
}
.contentInput {
  width: 400px;
  height: 30px;
}
.button {
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 30px;
}
.todoBottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contentBox {
  background-color: rgb(125, 177, 47);
  display: flex;
  gap: 10px;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
}
.content {
  width: 400px;
  font-size: 20px;
}
